<fieldset>

    <legend>Edit Information</legend>

    <div class='form-group'>
        <label for='sneaker-name'>Name</label><br>
        <input class='form-control' id='sneaker-name' type='text' name='name' value='{{ sneaker.name }}'/>
    </div>

    <div class='form-group'>
        <label for='brand'>Brand</label<br>
        <input class='form-control' id='brand' type='text' name='brand' value='{{ sneaker.brand }}'
    </div>

    <div class='form-group'>
        <label for='sneaker-photos'>Photos</label<br>
        <textarea class='form-control' ide='sneaker-photos' name='photos' rows='10' />{{ "\n".join(sneaker.photos) }}</textarea>
    </div>
  </fieldset>

  <!-- <p>
      <button type='submit'>Save Sneaker</button>
  </p> -->
