{% extends 'base.html' %}


{% block content %}

    <br>
    <h2>Sneakers</h2>

    <!-- From w3schools.com for animation -->
    <style>
    input[type=text] {
      width: 120px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 15px;
      padding: 5px 5px 5px 20px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
      width: 100%;
    }
    </style>

    <form action='/search', method='POST'>
      <input type="text" name="search" placeholder="Search">
    </form>

    <div class='row'>

        <!-- Displays each item using bootstrap -->
        {% for sneaker in sneakers %}

            <div class='card' style='width: 14rem;'>

              <img class='card-img-top' src='{{ sneaker.photo_url }}'>

              <div class='card-body'>
                <h5 class='card-title'><a href='/sneakers/{{ sneaker._id }}'>{{ sneaker.name }}</a></h5>
                <small>{{ sneaker.brand }}</small>

              </div>

            </div>

    {% endfor %}

    </div>

{% endblock %}
