{% extends 'base.html' %}

{% block content %}
<a href='/'>Back to Home</a>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>{{ sneaker.name }}</h1>
        <h2>{{ sneaker.brand }}</h2>
        {% for photo in sneaker.photos %}
            <div class='card'><div class='card-body'>
                <img src='{{ photo }}' width='420' height='315'></img>
            </div></div>
        {% endfor %}
        <p><a href='/sneakers/{{ sneaker._id }}/edit'>Edit</a></p>
        <p><form method='POST' action='/sneakers/{{ sneaker._id }}/delete'>
            <input type='hidden' name='_method' value='DELETE'>
            <button type='submit'>Delete</button>
        </form></p>
    </div>
</div>

{% endblock %}
