{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/sneakers'>
    <fieldset>
      <legend>New Shoe</legend>

      <p>
        <label for='name'>Name</label<br>
        <input type='text' name='name' />
      </p>

      <p>
        <label for='brand'>Brand</label<br>
        <input type='text' name='brand' />
      </p>

      <p>
          <label for='sneaker-photo'>Photo</label<br>
          <textarea id='sneaker-photo' name='Photos' ="10"></textarea>
      </p>
    </fieldset>

    <p>
      <button type='submit'>Save Sneaker</button>
    </p>
</form>
{% endblock %}
