{% extends 'base.html' %}


{% block content %}

    <h1>SneakerCentral</h1>

    <!-- <form action= '/search', method='POST'>
        <input type="text" name="search" placeholder="search">
        <button type="Search">Search</button>
    </form> -->
    <div class='row'>
        <!-- Displays each item using bootstrap -->
        {% for sneaker in sneakers %}

            <div class='card' style='width: 14rem;'>

              <img class='card-img-top' src='{{ sneaker.photo_url }}'>

              <div class='card-body'>
                <h5 class='card-title'><a href='/sneakers/{{ sneaker._id }}'>{{ sneaker.name }}</a></h5>
                <small>{{ sneaker.brand }}</small>

              </div>

            </div>

    {% endfor %}

    </div>

{% endblock %}
