{% extends 'base.html' %}

{% block content %}

    <h1>Streetwear</h1>

    <div class='row'>
        <!-- Displays each item using bootstrap -->
        {% for streetwear in streetwears %}

            <div class='card' style='width: 14rem;'>

              <img class='card-img-top' src='{{ streetwear.photo_url }}'>

              <div class='card-body'>
                <h5 class='card-title'><a href='/sneakers/streetwears/{{ streetwear._id }}'>{{ streetwear.name }}</a></h5>
                <small>{{ streetwear.brand }}</small><br>
                <small>{{ streetwear.size }}</small>

              </div>

            </div>

    {% endfor %}

    </div>
{% endblock %}
